@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-seriff;
	padding: 0px;
}

#side-menu{
	background-color: #343a40;
	padding: 0px;
}

#side-menu h1{
	color: #343a40;
	text-align: center;
	margin: 10px 0px;
	font-size: 25px;
}

/* Sidebar */
#sidebar-wrapper{
	z-index: 1;
	width: 0;
	height: 100%;
	position: absolute;
	overflow-y: hidden;
	padding-top: 70px;
	background: #343a40!important;
	opacity: 0.9;
}

#page-content-wrapper{
	width: 100%;
	position: absolute;
	padding-top: 75px;
	padding-left: 5px;
}

/* Change the width of sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper{
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 250px;
}

/* */
.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: #fff;
}

.sidebar-nav li a:hover{
	background: #fff;
	color: #343a40!important;
}

.toggler-success{
	padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
	border-radius: .25rem;
	border-color: #555b61;
}



















