<div class='card'>
  <div class='card-header'>
  {{pageTitle}}
  </div>

  <div class='card-body'>
    <!-- Row to display the header for the table -->
    <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text'/>
        </div>
    </div>
    <!-- Row to display the Filter details -->
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtered by: </h4>
      </div>
    </div>
    <!-- Table to display all the data-->
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='toggleImage()'>{{showImage?'Hide':'Show'}} Image</button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products'>
            <td>
              <img [src]='product.imageUrl'
                  *ngIf='showImage' 
                  [title]='product.productName'
                  [style.width.px]='imageWidth'
                  [style.margin.px]='imageMargin'>
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.productCode}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price}}</td>
            <td>{{product.starRating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>