@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-seriff;
	padding: 0px;
	margin: 0px;
}

#side-menu{
	background-color: #2f4050;
	padding: 0px;
}

#side-menu h1{
	color: #1f3647;
	text-align: center;
	margin: 10px 0px;
	font-size: 25px;
}

/* Sidebar */
#sidebar-wrapper{
	z-index: 1;
	width: 0;
	height: 100%;
	position: absolute;
	overflow-y: hidden;
	background: #2f4050;
	/* border: 2px solid red; */
	opacity: 0.8;
}

#page-content-wrapper{
	width: 100%;
	position: absolute;
	padding-left: 5px;
	/* border: 5px solid green; */
}

/* Change the width of sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper{
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 250px;
}

/* */
.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li a:hover{
	background: #ddd;
	color: #2f4050;
}



















