@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-seriff;
	#background: url(img/mountain.png) no-repeat center center fixed;
	background-color: #f3f3f4;
	background-size: cover;
	color: #676a6c;
	height: 100%;
}

#side-menu{
	background-color: #2f4050;
	padding: 0px;
}

#side-menu h1{
	color: #1f3647;
	text-align: center;
	margin: 10px 0px;
	font-size: 25px;
}

.display-table{
	display: table;
	padding: 0px;
	height: 100%;
}

.display-table-row{
	display: table-row;
	height: 100%;
}

.display-table-cell{
	display: table-cell;
	height: 100%;
}

.valign-top{
	vertical-align: top;
}


















